@font-face {
	font-family: 'From the Stars Rg';
	src: url('/assets/fontface/FromtheStarsRg-Regular.eot');
	src: url('/assets/fontface/FromtheStarsRg-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fontface/FromtheStarsRg-Regular.woff') format('woff'),
		url('/assets/fontface/FromtheStarsRg-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'From the Stars Rg';
	src: url('/assets/fontface/FromtheStarsRg-Italic.eot');
	src: url('/assets/fontface/FromtheStarsRg-Italic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fontface/FromtheStarsRg-Italic.woff') format('woff'),
		url('/assets/fontface/FromtheStarsRg-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
