body > footer {
  @extend .sans;
  font-size: 0.8em;
  color: $footer-color;
  //text-shadow: darken($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  //@include background($footer-bg-front, $footer-bg-back);

  padding-top: 1em;
  //padding-bottom: 7em;
  margin-bottom: 0;
  border-bottom: 5px solid $body-bar;
  //@include border-bottom-radius(.4em);
  //z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}
