body {counter-reset: h2}
article h2 {counter-reset: h3}
article h3 {counter-reset: h4}
article h4 {counter-reset: h5}
article h5 {counter-reset: h6}

article h2:before {counter-increment: h2; content: counter(h2) ". "}
article h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) " "}
article h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) " "}
article h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "}
article h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " "}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
}